#searchHeader {
    margin: 10px 10px 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

#searchBar {
    border: 0.5px black solid;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
    width: 300px;
}

#searchHeaderContent{
    display:flex;
    justify-content:space-between;
}

#filterContainer, #searchContainer, #formsContainer{
    display:flex;
    align-items:center;
}

#addbutton{
    height:30px;
    margin-right:5px;
    margin: 10px;
    padding: 5px;
    width:100px;
    border: none;
    background-color:#65c456;
    font-weight: bold;
    cursor:pointer;
    border-radius:5px;
}

#addbutton:hover{
    background-color:#89e37b;
}

/* Styling for the articles/items */
#allitems {
    display:flex;
    flex-wrap: wrap;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    align-items:center;
}
article {
    margin: 10px;
    padding: 25px;
    text-align: center;
    border: 1px solid grey;
    width: 300px;
}
.genreofitem, .sellerofitem, .statussofitem, .likesofitem, .priceofitem{
    margin:10px;
}
.detailbutton {
    border: none;
    padding: 4px;
}

.detailbutton {
    background-color: #70c8ff;
    border-radius:5px;
    margin-top: 25px;
    width:100px;
}

.detailbutton:hover {
     background-color: #ade0ff;
    cursor:pointer;
}

.step-links {
    display:flex;
    justify-content: center;
}

.pageanchor {
    margin:0 10px;
}
