h2{
    background-color: #324960;
    color: white;
    padding: 8px 10px;
}
#infoContainer, #commentsContainer{
    background-color:white;
    padding-bottom: 25px;
}

/*Image*/
#imgContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

img{
    height: 200px;
    width: 200px;
    margin-right: 25px;
    margin-left:75px;
}

/*Details*/
#info{
    display:flex;
}

#details{
    margin-left: 10px;
    padding: 50px;
}

#details>*{
    padding: 10px;
}

.row{
    display:flex;
}

.descRow{
    display:flex;
    flex-direction:column;
}

#details label, #commentsContainer label{
    font-weight: bold;
    margin-right: 15px;
}

textarea{
    margin: 10px 0px;
    height: 100px;
    width: 300px;
    min-height: 100px;
    min-width: 300px;
    font-size: 17px;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
/*Buttons Styling*/

#btnContainer{
    display:flex;
    justify-content:space-between;
}

#likebutton, #editbutton, #deletebutton, #addCommentBtn, #flagbutton{
    border: none;
    padding: 4px;
    width: 100px;
    height:30px;
    margin: 0px 15px;
    border-radius: 5px;
    font-size:16px;
}

#addCommentBtn {
    width: 150px;
    background-color: #65c456;
}

#addCommentBtn:hover {
    background-color:#89e37b;
    cursor:pointer;
}

#likebutton {
    background-color: #91a0ff;
    cursor: pointer;
}

#likebutton:hover{
    background-color: #c2caff;
}

#editbutton {
    background-color:#70c8ff;
}

#editbutton:hover {
    background-color: #ade0ff;
    cursor:pointer;
}

#deletebutton {
    background-color: #ff9191;
}

#deletebutton:hover {
    background-color: #ffbdbd;
    cursor:pointer;
}

#flagbutton {
    background-color: #fff187;
    cursor: pointer;
}

#flagbutton:hover {
    background-color: #fff8bf;
}

#commentsContainer{
    display:flex;
    align-items:center;
    flex-direction: column;
}

.individualComments {
    display:flex;
    border: grey 1px solid;
    margin: 25px;
    padding: 25px;
    flex-direction:column;
    width: 58%;
    min-width:500px;
    border-radius: 5px;
    background-color: aliceblue;
}

.commentDesc {
    width:100%;
}

.commentTitle {
    text-align:center;
    font-size:25px;
}

#likeform, #flagform {
    display:inline;
}

