<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block cssLink %}{% endblock cssLink%}
</head>
<body>
    <header>
        <nav>
            <h1 id="title">Products</h1>
            {% if user.is_authenticated%}
                <p id="userGreeting">Welcome back {{ request.user.first_name }} </p>
            {% else %}
                <p id="userGreeting"></p>
            {% endif %}

            <ul id="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'items' %}">Products</a></li>

                {% if  request.user.groups.all.0.name == "admin_gp" or request.user.groups.all.0.name == "admin_user_gp" or request.user.groups.all.0.name == "admin_i_gp"%}
                <li><a href="{% url 'admin_page'%}">Users List</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                {% if request.user.profile.notifications != 0 %}
                <li><a href="{% url 'messaging' %}">Inbox ({{ request.user.profile.notifications }})</a></li>
                {% else %}
                <li><a href="{% url 'messaging' %}">Inbox</a></li>
                {% endif %}
                {% endif %}

                {% if user.is_authenticated %}
                <li><a href="{% url 'profile_detail'  user.id %}">Profile</a></li>
                {% endif %}
            </ul>

            {% if user.is_authenticated %}
            <button class="logBtn" id="logoutBtn"><a href="{% url 'logout' %}" class="logBtnAnchor">Logout</a></button>
            {% else %}
            <button class="logBtn" id="loginBtn" ><a href="{% url 'login' %}" class="logBtnAnchor">Login</a></button>
            {% endif %}
        </nav>
    </header>

    <main>

        {% if messages %}
            {% for msg in messages %}
                <div class="messages-{{ msg.tags }}"> {{ msg}} </div>
            {% endfor%}
        {% endif%}

        {% block content %} {% endblock content %}
    </main>

    <footer class = "footer">
        <p> &copy; 2021 - Johanna Luangxay, Jimmy Le, Le Duytam Ly, Jackson Kwan</p>
    </footer>
</body>
</html>