#wrapper-table {
    display: flex;
    justify-content:center;
}

#top-row{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}

#top-row *{
    margin: 10px 0px;
    flex-wrap: 1;
}

/*Table CSS*/
table {
    border-radius: 5px;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

table td, table th {
    text-align: center;
    padding: 8px;
}

table thead tr {
    color: #ffffff;
    background: #324960;
}

table td {
    border-right: 1px solid #f8f8f8;
    font-size: 16px;
}

#warn-cell{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

#warn-num{
    width: 50px;
}

table tr:nth-child(even) {
    background: #F8F8F8;
}

/*Button styles*/
main button {
    border-radius:5px;
    border: none;
    padding: 4px;
}

table button{
    width: 100px;
}

.register-button{
    padding-left:10px;
    padding-right:10px;
    height: 50px;
}

#edit-detail-button, .register-button {
    background-color:#70c8ff;
    color: white;
}

#edit-detail-button:hover, .register-button:hover {
    background-color: #ade0ff;
    cursor:pointer;
}

#modify-groups-button {
    background-color: #91a0ff;
    width: 150px;
}

#modify-groups-button:hover {
    background-color: #c2caff;
    cursor:pointer;
}

#flag-button {
    background-color: #fff187;
}

#flag-button:hover {
    background-color: #fff8bf;
    cursor:pointer;
}

#warn-button {
    background-color: #ffc691;
}

#warn-button:hover {
    background-color: #ffd9b5;
    cursor:pointer;
}

#delete-button {
    background-color: #ff9191;
}

#delete-button:hover{
    background-color: #ffbdbd;
    cursor:pointer;
}

main {
    display:flex;
    flex-direction: column;
}

button a{
    text-decoration:none;
    color: black;
}

#is-flag {
    background-color:#82ffe8;
}