{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block cssLink %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
{% if request.user.profile.warn > 0  %}
    <div id="warning">
        You have been warned: {{ request.user.profile.warn }}x * If you are warned more than 3 times, you will be BANNED!
    </div>

{% endif %}

<h2> Home </h2>
{% load static %}
<img id="homeImg" src="{% static 'images/onlineShop.jpg' %}">
{% endblock %}