{% extends "base.html" %}
{% load static %}

{% block title %}
    Confirm Delete Item
{% endblock title %}

{% block cssLink %}
<link type="text/css" rel="stylesheet" href="{% static 'user_management/form.css' %}">
{% endblock %}

{% block content %}
<div class="form-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="all-fields">
            <legend>
                Delete Item
            </legend>
            <h2>Are you sure you want to delete "{{ object.itemname }}"</h2>
        </fieldset>
        <div id="btnContainer"><button type="submit">Yes, Delete</button>
        <a href="{% url 'item-detail' object.id %}">No, Cancel</a></div>
    </form>
</div>
{% endblock %}