{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Comment Form
{% endblock title %}

{% block cssLink %}
<link type="text/css" rel="stylesheet" href="{% static 'user_management/form.css' %}">
{% endblock %}

{% block content %}
<div class="form-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="all-fields">
            <legend>
                Add a comment
            </legend>
            {{ form |crispy }}
        </fieldset>
        <div id="btnContainer"><button type="submit">Add Comment</button></div>
    </form>
</div>
{% endblock %}