{% extends "base.html" %}
{% load static %}

{% block title%}
    Item Detail
{% endblock title%}

{% block cssLink %}
<!--<link type="text/css" rel="stylesheet" href="{% static 'item/items.css' %}">-->
<link type="text/css" rel="stylesheet" href="{% static 'item/productDetail.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="detailContainer">
    <section id="infoContainer">
        <h2>{{ object.itemname }}</h2>
        <div id="info">
            <div id="imgContainer">
                <img src="{{ object.itempic.url }}">
            </div>
            <div id="details">
                <div class="row"><label id="seller">Seller:</label><p>{{ object.user.first_name }} {{ object.user.last_name }}</p></div>
                <div class="row"><label id="address">Address:</label><p>{{ object.user.profile.address }}</p></div>
                <div class="row"><label id="genre">Genre:</label><p>{{ object.genre }}</p></div>
                <div class="row"><label id="price">Price:</label><p>{{ object.price }}$</p></div>
                <div class="row"><label id="status">Status:</label><p>{{ object.status }}</p></div>
                <div class="row"><label class="dateposted">Date posted:</label><p>{{ object.date_posted }}</p></div>
                <div class="descRow"><label id="description">Description:</label><textarea readonly>{{ object.description }}</textarea></div>
                <div class="row"><label id="likes">Likes:</label><p>{{ object.likes.count }}</p></div>
                <div class="row"><label>Flags:</label><p>{{ object.flagged.count }}</p></div>
                <div class="row"><label>Rating:</label><p>{{ avgRating }}★</p></div>
            </div>
        </div>
        <div id="btnContainer">
            <div>
            {% if user.is_authenticated %}
                <form action="{% url 'like_item' object.pk %}" method="POST" id="likeform">
                    {% csrf_token %}
                    <button type="submit" name="item_id" value="{{ object.id }}" id="likebutton">Like {% if request.user in object.likes.all %}💗{% endif %}</button>
                </form>
                <form action="{% url 'flag_item' object.pk %}" method="POST" id="flagform">
                    {% csrf_token %}
                    <button type="submit" name="item_id" value="{{ object.id }}" id="flagbutton">Flag {% if request.user in object.flagged.all %}🚩{%endif%}</button>
                </form>
                <button id="addCommentBtn" onclick="window.location.href='/items/{{ item.id }}/comment'">Add Comment 💬</button>
            {% endif %}
            </div>
            <div>
                {% if object.user == user or request.user.groups.all.0.name == "admin_gp" or request.user.groups.all.0.name == "admin_item_gp"%}
                    <button id="editbutton" onclick="window.location.href='/items/{{ item.id }}/update'">Edit 📝</button>
                    <button id="deletebutton" onclick="window.location.href='/items/{{ item.id }}/delete'">Delete ❌</button>
                {% endif %}
            </div>
        </div>
    </section>
    <h2>Comments</h2>
    <section id="commentsContainer">
        {% for comments in object.itemcomment_set.all %}
        <div class="individualComments">
            <div class="descRow">
                <h3 class="commentTitle">{{ comments.title }}</h3>
                <textarea readonly class="commentDesc">{{ comments.comment }}</textarea>
            </div>
            <div class="row"><label class="commentuser">Author: </label><p>{{ comments.user.first_name }} {{ comments.user.last_name }}</p></div>
            <div class="row"><label class="dateposted">Date posted:</label><p>{{ comments.date_posted }}</p></div>
            <div class="row"><label class="ratingposted">Rating:</label>{{ comments.rating }}★</div>
        </div>
        {% endfor %}
    </section>

</div>
{% endblock %}