{% extends "base.html" %}
{% load static %}

{% block title%}
    Item List
{% endblock title%}

{% block cssLink %}
<link type="text/css" rel="stylesheet" href="{% static 'item/items.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
<div id="searchHeader">
    <h2>Items</h2>
    <div id="searchHeaderContent">
        <div id="formsContainer">
            <form id="searchContainer" method="GET" action="{% url 'item-search' %}">
                <input type="text" placeholder="&#x1F50E; Search here" id="searchBar" name="search">
            </form>
            <form id="filterContainer" method="GET" action="{% url 'item-filter' %}">
                <label for="filterby">Filter by: </label>
                <select name="filterby" id="filterby">
                    <option value="all">All</option>
                    <option value="likes">Likes</option>
                    <option value="food">Food</option>
                    <option value="books">Books</option>
                    <option value="clothing">Clothing</option>
                    <option value="electronics">Electronics</option>
                    <option value="instrument">Instrument</option>
                </select>
                <button>Filter</button>
            </form>
        </div>
        {% if user.is_authenticated %}
            <button id="addbutton" onclick="window.location.href='{% url 'item-create' %}'">Add Item ➕</button>
        {% endif %}
    </div>
</div>
    <div id="allitems">
    {% for item in object_list %}
        <article id="item{{ item.pk }}">
            <h2 class = "nameofitem">{{ item.itemname }}</h2>
            <p class = "genreofitem">Genre: {{ item.genre }}</p>
            <p class = "sellerofitem">Seller: {{ item.user.first_name }} </p>
            <p>Likes: {{ item.likes.count }}</p>
            {% if user.is_authenticated %}
            <button class = "detailbutton" onclick="window.location.href='/items/{{ item.id }}'">See Details 🔍</button>
            {% endif %}
        </article>
    {% endfor %}
    </div>
{% if page_obj.number > 0 %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="pageanchor" >◀ Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="pageanchor">Next ▶</a>
            {% endif %}
        </span>
    </div>
{% endif %}
{% endblock %}