{% extends "base.html" %}
{% load static %}

{% block title %}
    Activity Log
{% endblock title %}

{% block cssLink %}
<link type="text/css" rel="stylesheet" href="{% static 'administration/table.css' %}">
{% endblock %}

{% block content %}
<div id="top-row" class="flex-row">

    <button id="delete-button"><a href="{% url 'admin_page'%}"> Back </a></button>
</div>

<div id="wrapper-table" class = "flex-row">
    <table>
        <thead>
            <tr>
                <th> Admin </th>
                <th> Message </th>
                <th> Time </th>
            </tr>
        </thead>

        <tbody>
            {% for obj in object_list %}

            <tr {% if obj.profile.flag %} id="is-flag" {% endif %}>
                <td>{{ obj.admin_user }}</td>
                <td>{{ obj.message }}</td>
                <td>{{ obj.time }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}