/*h2 {
    padding: 1em 0px 0px 2em;
}*/

fieldset{
    width:40em;
    padding: 2em;
    margin:auto;
    border-radius: 5px;
}

legend{
    font-size: 20px;
    padding: 0px 15px;
}

fieldset div{
    margin-top: 15px;
}

input{
    width:100%;
}

label {
    font-size: 18px;
    font-weight: bolder;
    text-decoration: underline;
}

fieldset li, fieldset p{
    font-size: 15px;
}

fieldset ul {
    list-style-position: inside;
}

#btnContainer{
    text-align:center;
    padding: 1em;
}

main button {
    width: 100px;
    height: 25px;
    background-color: #65c456;
    border: #65c456;
    border-radius: 5px;
}

main button:hover{
    background-color:#89e37b;
    cursor: pointer;
}

#cancelBtn{
    background-color: #ff7a7a;
}

#cancelBtn a{
    text-decoration: none;
    color: black;
}

section{
    text-align:center;
}

section a{
    display:inline;
}
