article {
    width: 100%;
    background-color: white;
}

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    height: 200px;
    width: 200px;
    margin: 25px;
}

.header-name {
    background-color: #324960;
    color:white;
    padding: 8px 10px;
}

hr {
    margin:10px;
}

#user-info, #user-stats {
    margin-left: 10px;
    padding: 50px;
}

#user-info p, #user-stats p {
    padding:10px;
}

#user-info button{
    margin-top:50px;
    margin-left:10px;
    padding:5px;
}

#user-info button a{
    color: black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.items {
    margin: 10px;
    padding: 25px;
    text-align: center;
    border: 1px solid grey;
    width: 300px;
}

#item-container {
    display:flex;
}
