#msg_title {
    display: block;
    text-align: center;
    background-color: #324960;
    color: white;
    height: 50px;
    border-bottom: 3px solid #1e2f40;
    padding-top: 8px;


}

#chat-input{
    display: flex;
    width: 100%
    background-color: aliceblue;



}

#id_chat_message_input{
    width: 95%;
    height: 20px;



}
#chat-message-submit{
    height:20px;
    width: 5%;
    background-color: #324960;
    color: white;
}

#msg_block{
    display: flex;
    background-color: pink;
    min-height: 500px;
    height: 90%;
}

#msg_chatfield{

    background-color:  #a1acd1;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 2;

}

#msg_friendblock{
    display: flex;
    background-color: #324960;
    flex-direction: column;
    list-style-type: none;
    min-width: 250px;
    width: 5%;
    border-right: 3px solid #1e2f40;
}

#msg_friendslist{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    overflow: scroll;
    height: 90%;
    flex-grow: 2;
    background-color: #304766;

}

#msg_friendslist li{
    display: flex;
    justify-content: center;
    min-height: 40px;
    margin: 5px 10px;
    background-color: #576c88;
    color: #324960;
    border-radius: 5px;
}

#msg_friendslist li a{
    color: white;
    padding-top: 10px;
    width:100%
}

#msg_friendslist li:hover {
    background-color: #6cabeb;
}

#chat {
    display: flex;
    background-color: #a1acd1;
    flex-grow: 3;
    flex-direction: column;
    color: #263054;
    font-family:'Source Sans Pro', sans-serif;
    font-size:18px;
    padding: 10px 5px;
    resize: none;
}

#msg_dm{
    padding-top: 15px;
    display: block;
    text-align: center;
    background-color: #324960;
    color: white;
    height: 40px;
    border-bottom: 3px solid #223140;
    flex-grow: 1;
}

