{% extends "base.html" %}
{% load static %}

{% block title%}
    Message
{% endblock title%}

{% block cssLink %}
    <link type="text/css" rel="stylesheet" href="{% static 'messaging/chat.css' %}">
{% endblock %}

{% block content %}
<div id="msg_block">
    <div id="msg_friendblock">
        <h3 id="msg_dm">
            DM
        </h3>
        <ul id="msg_friendslist">

            {%  for person in users %}

                <li>
                    {% if current.id < person.id  %}
                        <a href="/messaging/{{ current.id }}_{{ person.id }}">
                            {{ person.username }}

                        </a>
                    {% endif %}
                    {% if current.id > person.id %}
                        <a href="/messaging/{{ person.id }}_{{ current.id }}">
                            {{ person.username }}

                        </a>
                    {% endif %}


                    {% if current.id == person.id %}
                        <a href="/messaging/{{ current.id }}_{{ current.id }}">
                            {{ current.username }}

                        </a>
                    {% endif %}
                </li>


            {% endfor %}
        </ul>
    </div>

    <div id="msg_chatfield">

        <h2 id="msg_title"> {{ receiver.username }} </h2>
        <textarea readonly id="chat">{% for msg in savedmsg %}{{ msg.savedMessages }}
{% endfor %}</textarea>

        <form id="chat-input" action="" method="post">
            {% csrf_token %}
            {{ form }}
<!--            <input id="id_chat_message_input" type="text">-->
            <input id="chat-message-submit" type="submit" value="Send">
        </form>

    </div>

</div>
{{ room_name|json_script:"room-name" }}
<script>

    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/messaging/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#id_chat_message_input').focus();
    document.querySelector('#id_chat_message_input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#id_chat_message_input');
        const message = messageInputDom.value;
        if(message != ''){
            chatSocket.send(JSON.stringify({
                'message': "{{ current.username }}: " + message,
                'chatRoom': roomName,
                'receiver': {{ receiver.id }}
            }));
        }

        messageInputDom.value = '';
    };
</script>

{% endblock %}