{% extends "base.html" %}
{% load static %}

{% block title%}
    Message Home
{% endblock title%}

{% block cssLink %}
    <link type="text/css" rel="stylesheet" href="{% static 'messaging/chat.css' %}">
{% endblock %}

{% block content %}
<div id="msg_block">
    <div id="msg_friendblock">
        <h3 id="msg_dm">
            DM
        </h3>
        <ul id="msg_friendslist">

            {%  for person in users %}

                <li>
                    {% if current.id < person.id  %}
                        <a href="/messaging/{{ current.id }}_{{ person.id }}">
                            {{ person.username }}
                        </a>
                    {% endif %}
                    {% if current.id > person.id %}
                        <a href="/messaging/{{ person.id }}_{{ current.id }}">
                            {{ person.username }}
                        </a>
                    {% endif %}

                    {% if current.id == person.id %}
                        <a href="/messaging/{{ current.id }}_{{ current.id }}">
                            {{ current.username }}
                        </a>
                    {% endif %}
                </li>

            {% endfor %}
        </ul>
    </div>

    <div id="msg_chatfield">
        <h2 id="msg_title"> Messages </h2>
    </div>

</div>

{% endblock %}