{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title%}
    Change Password
{% endblock title%}

{% block cssLink %}
<link type="text/css" rel="stylesheet" href="{% static 'user_management/form.css' %}">
{% endblock %}

{% block content %}
    <article>
        <h2> Your profile</h2>

        <div id = "container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <legend>Change password!</legend>
                    {% if forms %}
                        {% for form in forms %}
                        {{ form|crispy }}
                        {% endfor %}
                    {% else %}
                        {{ form|crispy }}
                    {% endif %}
                </fieldset>

                <div id="user-info">
                    <div id='btnContainer'>
                        <button>Change password</button>
                    </div>
                </div>
            </form>
        </div>

    </article>

{% endblock %}