{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title%}
    Login
{% endblock title%}

{% block cssLink %}
<link type="text/css" rel="stylesheet" href="{% static 'user_management/form.css' %}">
{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Welcome Back!</legend>
            {{ form|crispy }}
        </fieldset>
        <div id="btnContainer"><button id="logInBtn">Log In</button></div>

    </form>
    <section>
        <p>Don't have an account? <a href="{% url 'registration' %}">Click Here!</a></p>
    </section>
{% endblock %}