{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title%}
    Registration
{% endblock title%}

{% block cssLink %}
<link type="text/css" rel="stylesheet" href="{% static 'user_management/form.css' %}">
{% endblock %}

{% block content %}
    <h2>Registration</h2>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Fill this Form to Sign Up!</legend>
            {% for form in forms %}
                {{ form|crispy }}
            {% endfor %}
<!--            {{ user_form|crispy }}-->
<!--            {{ profile_form|crispy }}-->
        </fieldset>
        <div id="btnContainer"><button id="registerBtn">Register</button></div>

    </form>
    <section>
        <p>Already have an account? <a href="{% url 'login' %}">Click Here!</a></p>
    </section>
{% endblock %}