{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title%}
    User Detail
{% endblock title%}

{% block cssLink %}
<link type="text/css" rel="stylesheet" href="{% static 'user_management/profile.css' %}">
{% endblock %}

{% block content %}
    <article>
        <h2 class="header-name"> Your profile</h2>

        <div id = "container">
            <div id = "avatar-info">
                 <div class="flex-row">
                    <img src='{{ object.profile.pic.url }}'></img>
                </div>
            </div>

            <div id="user-info">
                <div class="flex-row">
                    <p>Username:</p>
                    <p>{{object.username}}</p>
                </div>
                <div class="flex-row">
                    <p>Email: </p>
                    <p>{{object.email}}/</p>
                </div>

                <div class="flex-row">
                    <p>Firstname: </p>
                    <p>{{object.first_name}}</p>
                </div>

                <div class="flex-row">
                    <p>Lastname:</p>
                    <p>{{object.last_name}}</p>
                </div>

                <div class="flex-row">
                    <p>Birthday:</p>
                    <p>{{object.profile.birthday}}</p>
                </div>

                <div class="flex-row">
                    <p>Address</p>
                    <p>{{object.profile.address}}</p>
                </div>

                <div class="flex-row">
                    <p>Bio:</p>
                    <p>{{object.profile.bio}}</p>
                </div>

                {% if request.user.id == object.id %}
                <div class = "flex-row">
                    <button><a href="{% url 'profile_update' request.user.id%}">Edit Me 📝</a></button>
                    <button><a href="{% url 'password_change' %}">Change password</a></button>
                </div>
                {% endif %}
            </div>
        </div>

    </article>

    <article>
        <h2 class="header-name"> Your Products </h2>
        <div id = "user-stats">
            <p>Products Listed: {{ object.item_set.all.count }}</p>
            <div id="item-container">
                {% for item in object.item_set.all %}
                    <article class="items">
                        <h2 class = "nameofitem">{{ item.itemname }}</h2>
                        <p class = "genreofitem">Genre: {{ item.genre }}</p>
                        <p class = "sellerofitem">Seller: {{ item.user.first_name }} </p>
                        <p class = "priceofitem">Price: {{ item.price }}$</p>
                        <p class = "statussofitem">Status: {{ item.status }}</p>
                        <p class = "likesofitem">Likes: {{ item.likes.count }}</p>
                        <p class = "dateitemposted">Date posted: {{ item.date_posted }}</p>
                        <button class = "detailbutton" onclick="window.location.href='/items/{{ item.id }}'">See Details</button>
                    </article>
                {% endfor %}
            </div>
        </div>
    </article>

{% endblock %}