{% extends "base.html" %}
{% load static %}

{% block title %}
    User List
{% endblock title %}

{% block cssLink %}
<link type="text/css" rel="stylesheet" href="{% static 'administration/table.css' %}">
{% endblock %}

{% block content %}
<div id="top-row" class="flex-row">

    <div>
        <h2> User List</h2>
        <form method="GET" action="{% url 'user_search' %}">
            <input type="text" name="user-search" placeholder="Search username">
        </form>
    </div>
    <div>
        <button class="register-button"><a href="{% url 'admin_user_register'%}"> Register New User ➕</a></button>
        <button class="register-button"><a href="{% url 'user_logs'%}"> Logs 📰</a></button>
    </div>
</div>

<div id="wrapper-table" class = "flex-row">
    <table>
        <thead>
            <tr>
                <th> User ID </th>
                <th> Username </th>
                <th> Group </th>
                <th colspan="5"></th>
            </tr>
        </thead>

        <tbody>
            {% for obj in object_list %}

            <tr {% if obj.profile.flag %} id="is-flag" {% endif %}>
                <td>{{ obj.id }}</td>
                <td>{{ obj.username }}</td>
                <td>{{ obj.groups.all.0 }}</td>

                <td> <button id = "edit-detail-button"><a href="{% url 'admin_edit_user' obj.id %}"> Edit Details 📝</a> </button> </td>
                <td> <button id = "modify-groups-button"> <a href="{% url 'admin_modify_group' obj.id %}"> Modify Groups 👩‍👧‍👦</a> </button> </td>
                <td>

                    <form method="POST" action="{% url 'flag_user' obj.id %}">
                        {% csrf_token %}
                        <button id = "flag-button" name="flag_user" type="submit" value="{{ obj.id }}">
                            {% if obj.profile.flag %}
                                Unflag 🏳
                            {% else %}
                                Flag 🚩
                            {% endif %}
                        </button>
                    </form>

                </td>

                <td id="warn-cell">
                    <form method="POST" action="{% url 'warn_user' obj.id %}">
                        {% csrf_token %}
                        <button id = "warn-button" name="warn_user" type="submit" value="{{ obj.id }}"> Warn 🚨</button>
                    </form>
                    <div id="warn-num">
                        {% if obj.profile.warn <= 3 %}
                            <p> {{ obj.profile.warn }} </p>
                        {% else %}
                            <p> Banned </p>
                        {% endif %}
                    </div>
                </td>
                <td> <button id = "delete-button"><a href="{% url 'user_delete' obj.id%}"> Delete ❌</a></button> </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}
