{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Confirm Delete User
{% endblock title %}

{% block cssLink %}
<link type="text/css" rel="stylesheet" href="{% static 'user_management/form.css' %}">
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend> Delete User </legend>
            <h2> Are you sure you want to delete user </h2>

        </fieldset>
        <div id="btnContainer">
            <button id="logInBtn"> Yes </button>
            <button id="cancelBtn"><a href="{% url 'admin_page' %}"> Cancel </a> </button>
        </div>

    </form>
{% endblock %}