#homeImg{
    display: block;
    margin: 50px auto;
    border-radius: 10px;
}

#warning {
    top:60px;
    position:fixed;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 100%;
    background-color:#b5d6ff;
    margin-left:-65px;
    font-weight: bolder;
}

