
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    background-color: #f0f8ff;
    font-family: 'Source Sans Pro', sans-serif;
}

main{
    margin: 2em 4em;
    min-height:calc(100vh - 8vh - 60px - 22px - 25px);
}

footer{
    color: white;
    width:100%;
    clear:both;
    background-color: #191661;
    padding: 8px;
    text-align:center;
}

header {
    height: 60px;
    background-color: #3a5d8c;
    width:100%;
    min-height:8vh;
}

header, h2, footer {
    font-family: 'Architects Daughter', 'Original Surfer', cursive;
}

nav {
    display: flex;
    justify-content: space between;
    align-items: center;
    flex-direction: row;
    height:100%
}

nav * {
    color: aliceblue;
    margin: 0px 15px;
}

p {
    font-size: 18px;
}

li {
    font-size: 18px;
    margin:0px;
}

h1 {
    font-size: 30px;
}

#userGreeting {
    flex-grow: 3;
}

#title, #menu {
    flex-grow:0;
}

#menu {
  display:flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.logBtn {
    font-family: cursive;
    flex-grow: 1;
    height: 25px;
    width: 100px;
    min-height:25px;
    min-width:100px;
    max-height:25px;
    max-width:100px;
}

a {
  display: block;
  min-width:50px;
  text-decoration: none;
}

.messages-success {
    color: #4F8A10;
    background-color: #DFF2BF;
    padding: 4px;
    border-radius: 5px;
}

.messages-error {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 4px;
    border-radius: 5px;
}

.logBtnAnchor {
    color:darkblue;
}


